@{
    ViewBag.Title = "Contact";
}


<html>
<body>

	<form action="GetDepartment3" method="get">
		<table border="1">
			<tr>
				<td>
					Departname : <input type="text" name="department"><br />
				</td>
			</tr>
			<tr>
				<td>
					Course: <input type="text" name="course">

				</td>
			</tr>
			<tr>
				<td><input type="submit"></td>

			</tr>
		</table>

	</form>

	

</body>

</html>
