
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="Login" method="post">
    <table>
        <tr>
            <td>Username:</td>
            <td><input name="username" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>