
@{
    ViewBag.Title = "SessionView";
}

<form action="SessionView" method="post">
    <br/>
    <label>Name:    </label>
    <input id="msg" name="msg" type="text" value="hello"/>
    
    <input type="submit" value="send"/>

</form>

<h2>SessionView</h2>

