
@{
    ViewBag.Title = "SessionView";
}

<form action="SessionView" method="post">
    <br/>
    <label>Name:    </label>
    <input id="msg" name="msg" type="text" value="hello"/>
    
    <input type="submit" value="send"/>

</form>


<form action="SessionView" method="post">
    <table>
        <tr>
            <td>Username CHERWAH:</td>
            <td><input name="username" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>
<h2>SessionView</h2>

